<table class="property-table">
   <h2> Objekt Informationen </h2>
   <thead>
      <tr class="row-height">
         <th>
            <p style="color: #333333;">
               <strong>Property</strong>
            </p>
         </th>
         <th><strong>Value</strong></th>
      </tr>
   </thead>
   <tbody>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Objekt-ID</strong></td>
         <td class="col2" class="left-align">Painting-5</td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Titel</strong></td>
         <td class="col2" class="left-align">
             "Zigeunerin"
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Künstler*in/Autor*in</strong></td>
         <td class="col2" class="left-align">
             Arthur Kampf
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Sichtbare oder genannte Personen</strong></td>
         <td class="col2" class="left-align">
              Frau
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Entstehungsjahr</strong></td>
         <td class="col2" class="left-align">
            (vor) 1913
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Ort der Entstehung / Nutzung</strong></td>
         <td class="col2" class="left-align">
             vermutlich Berlin
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Gattung / Genre </strong></td>
         <td class="col2" class="left-align">
             Bildende Kunst
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Technik</strong></td>
         <td class="col2" class=left-align">
             Öl Gemälde
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Dimensionen</strong></td>
         <td class="col2" class="left-align">
             169 x 144 cm
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Kurzbeschreibung</strong></td>
         <td class="col2" class="left-align">
             Eine Frau posiert Frau braunem Hintergrund und Vorhang links vor dem ein Schemel über den ein buntes Gewand geworfen ist. Sie dreht den Rücken zum Betrachter, während ihr Gesicht  im Profil zu sehen ist und ihr Arm unter einem grünen übergeschlagenen Tuch in die Seite gestützt ist. Darunter trägt sie ein rosa Kleid mit weißen Partien.
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Motive / Topoi </strong></td>
         <td class="col2" class="left-align">
             Exotismus, Buntheit, Gewandstudie, Maler und Modell, gegebenenfalls auch Schauspielerin oder Tänzerin in der Rolle der "Gitana" z.B. Carmen
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Narrative / Diskurse</strong></td>
         <td class="col2" class="left-align">
             No data
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Historischer Kontext</strong></td>
         <td class="col2" class="left-align">
             No data
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Antiziganistische / Stigmatisierende Elemente</strong></td>
         <td class="col2" class="left-align">
             No data
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Agency</strong></td>
         <td class="col2" class="left-align">
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Verknüpfung </strong></td>
         <td class="col2" class="left-align">
             No data
            </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Narrativwandel bei Medienwechsel</strong></td>
         <td class="col2" class="left-align">
             No data
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Rezeptionsweg</strong></td>
         <td class="col2" class="left-align">
             No data
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Sammlung / Archiv </strong></td>
         <td class="col2" class="left-align">
             No data
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Provenienz</strong></td>
         <td class="col2" class="left-align">
             versteigert bei Lempertz aus niederrheinischem Privatbesitz
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Literatur</strong></td>
         <td class="col2" class="left-align">
           No data
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Ausstellungen / Aufführungen / Veröffentlichungen</strong></td>
         <td class="col2" class="left-align">
             Große Kunstausstellung Düsseldorf 1913
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Objekt- oder Werkteil</strong></td>
         <td class="col2" class="left-align">
             No data
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Rechte / Lizenzen</strong></td>
         <td class="col2" class="left-align">
             No data
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Digitalisat-Link/Pfad</strong></td>
         <td class="col2" class="left-align">
            No data
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Metadaten-Status</strong></td>
         <td class="col2" class="left-align">
             No data
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Erfasst von</strong></td>
         <td class="col2" class="left-align">
             No data
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Erfassungsdatum</strong></td>
         <td class="col2" class="left-align">
             No data
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Kommentar / Anmerkung</strong></td>
         <td class="col2" class="left-align">
             No data
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Versionsgeschichte</strong></td>
         <td class="col2" class="left-align">
             No data
         </td>
      </tr>
   </tbody>
</table>